<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


	
	<link rel="stylesheet" th:href="@{/css/userNav.css}">
	<link rel="stylesheet" th:href="@{/css/tableUtility.css}">
	<link rel="stylesheet" th:href="@{/css/userHomePage.css}">
	<link rel="stylesheet" th:href="@{/css/viewModal.css}">
	
	<link rel="icon" type="image/x-icon" th:href="@{/css/favicon.png}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<title>User Home</title>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script th:src="@{/js/script.js}"></script>
	<script>
		$(document).ready(function () {
			$("td button.view-button").click(function () {
				var responseText = $(this).attr("data-response");
				showResponseModal(responseText);
			});

			function showResponseModal(responseText) {
				if (responseText) {
					$("#responsePlaceholder").text(responseText);
				} else {
					$("#responsePlaceholder").text("No response yet.");
				}
				$("#exampleModalCenter").modal("show");
			}
		});
	</script>
</head>

<body>
	<header class="homeheader">
		<nav class="user_nav">
			<div class="wrapper">
			  <div class="logo"><a th:href="@{/urbanvoice/user/track-complaints}">Logo</a></div>
			  <input type="radio" name="slider" id="menu-btn">
			  <input type="radio" name="slider" id="close-btn">
			  <ul class="nav-links">
				<label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
				<li><a href="#">[[${userName}]]</a></li>
				<li>
					<button class="user-icon-button">
						<i class="fa-solid fa-user"></i>
					</button>
					<input type="checkbox" id="showDrop">
					<!-- <label for="showDrop" class="mobile-item">Dropdown Menu</label> -->
					<ul class="drop-menu">
						<li><a th:href="@{/urbanvoice/user/view-profile}" >View Profile</a></li>
						<li><a th:href="@{/urbanvoice/user/change-password}" >Change Password</a></li>
						<li><a th:href="@{/logout}" onclick="confirmLogout(event)"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout </a></li>
					  
					</ul>
				  </li>
			  </ul>
			  <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
			</div>
		  </nav>
		
	</header>
	<div class="content1" >
		
		<div id="popup" class="popup">
			<p th:if="${successMessage}" th:text="${successMessage}"></p>
		</div>
		
		<div class="tableCaption">
			<button class="track_complaints">TRACK COMPLAINTS</button>
			<a th:href="@{/urbanvoice/user/create-complaint}"><button type="button" class="pages">Create Complaint</button></a>
		</div>
		
		<table>
			<caption></caption>
			<tr>
				<th class="table_header">Sl No.</th>
				<th class="table_header">Registered Date</th>
				<th class="table_header">Type of Issue</th>
				<th class="table_header">Officer Contact</th>
				<th class="table_header">Complaint Details</th>
				<th class="table_header">Response</th>
				<th class="table_header">Status</th>
			</tr>
			<th:block th:if="${not #lists.isEmpty(complaints)}"></th:block>
			<tr th:each="compl, iterStat : ${complaints}">
				<td th:text="${iterStat.count}"></td>
				<td th:text="${#temporals.format(compl.createdDate,'yyyy-MM-dd &nbsp;&nbsp; hh:mm')}"></td>
				<td th:text="${compl.issue}"></td>
			<td th:if="${compl.officer != null}" th:text="${compl.officer.phone}"></td>
			<td style="text-align: center;">
				<a th:href="@{/urbanvoice/user/track-complaints/view-details(complaintId=${compl.complId})}">
						<button type="button" class="pages">View</button>
					</a>
				</td>
				<td style="text-align: center;">
					<button type="button" class="view-button pages view_buttons" th:attr="data-response=${compl.response}"
					onclick="showResponseModal(this)">View</button>
				</td>
				<td th:text="${compl.status}"></td>
			</tr>
		</table>
		
		
		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Response</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p><span id="responsePlaceholder"></span></p>
				</div>
			</div>
		</div>
	</div>
	
	<th:block th:if="${#lists.isEmpty(complaints)}">
		<p th:text="${noComplaintsMessage}" class="complaintMessage"></p>
	</th:block>
	<br/>
	<br/>
</div >
	
</body>
</html>