<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/navbarUtility.css}">
	<link rel="stylesheet" th:href="@{/css/viewingProfileStyle.css}">
	<link rel="stylesheet" th:href="@{/css/userNav.css}">
	<!-- <link rel="stylesheet" th:href="@{/css/userViewProfileNav.css}"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<script th:src="@{/js/script.js}"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/css/favicon.png}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<title>Create Complaint</title>
</head>
<style>
	*{
		user-select: none;
	}
	.profile-photo i{
		color: black;
	}
	.profile-photo i:hover{
		color: rgba(255, 255, 255, 0.9);
	}
</style>
<body>
	<header class="homeheader">
		<nav class="user_nav">
			<div class="wrapper">
			  <div class="logo"><a th:href="@{/urbanvoice/user/track-complaints}">Logo</a></div>
			  <input type="radio" name="slider" id="menu-btn">
			  <input type="radio" name="slider" id="close-btn">
			  <ul class="nav-links">
				<label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
				<li><a href="#">[[${userName}]]</a></li>
				<li>
					<button class="user-icon-button">
						<i class="fa-solid fa-user"></i>
					</button>
					<input type="checkbox" id="showDrop">
					<!-- <label for="showDrop" class="mobile-item">Dropdown Menu</label> -->
					<ul class="drop-menu">
						<!-- <li><a th:href="@{/urbanvoice/user/view-profile}" >View Profile</a></li>
						<li><a th:href="@{/urbanvoice/user/change-password}" >Change Password</a></li> -->
						<li><a th:href="@{/logout}" onclick="confirmLogout(event)"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout </a></li>
					  
					</ul>
				  </li>
			  </ul>
			  <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
			</div>
		  </nav>
	</header>
	
	<div id="popup" class="popup">
		<p th:if="${successMessage}" th:text="${successMessage}"></p>
	</div>

	<div class="box_container1">

		
		<div class="tableCaption">
			<button class="back_button"><a th:href="@{/urbanvoice/user/track-complaints}">
				<i  class="fa-solid fa-circle-arrow-left icon" aria-hidden="true"></i>
			</a></button>
			<p>VIEW PROFILE</p>
		</div>
		
		<div class="user_container">
			<div class="personal-details-body">
				<div class="profile-photo">
					<a th:href="@{/urbanvoice/user/edit-profile(id=${userDetails.userId})}"><i  class="fa-solid fa-user-pen"></i></a>
				</div>
				<div class="Personal-details">
					<div class="personal-details-row-1">
						<div>
							<h3 class="detail_header">First Name</h3>
							<p th:text="${userDetails.firstName}"></p>
						</div>
						<div>
							<h3 class="detail_header">Last Name</h3>
							<p th:text="${userDetails.lastName}"></p>
					</div>
					<div>
						<h3 class="detail_header">Email</h3>
						<p th:text="${userDetails.email}"></p>
					</div>
				</div>
				<div class="Personal-details">
					<div class="personal-details-row-1">
						<div>
							<h3 class="detail_header">Phone Number</h3>
							<p th:text="${userDetails.phone}"></p>
						</div>
						<div>
							<h3 class="detail_header">Registered Date</h3>
							<p th:text="${#temporals.format(userDetails.registeredDate,'yyyy-MM-dd')}"></p>
						</div>
						<div>
							<h3 class="detail_header">Last Modified Date</h3>
    						<p th:text="${userDetails.modifiedDate != null ? #temporals.format(userDetails.modifiedDate, 'yyyy-MM-dd') : '------'}"></p>
						</div>
					</div>
					<div class="Personal-details">
						<div class="personal-details-row-1">
							<div>
								<h3 class="detail_header">Complaints Raised</h3>
								<p th:text="${complaintsCount}" class="count"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
		
			<button type="button" class="button_viewProfile"><i class="fa-solid fa-key"></i>&nbsp;<a class="link_to_password"  th:href="@{/urbanvoice/user/change-password}">Change Password</a></button>
		
	
	
</div>
</body>

</html>